# CODEOWNERS — OpenSwim
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @llevintza

/apps/          @llevintza
/docs/          @llevintza
/packages/      @llevintza
/.github/       @llevintza
